<%- include('header'); -%>


<h1 class="cover-heading">About.</h1>
<p class="lead">This is a crowd sourcing test considering appeal and aesthetics of images.
</p>
<p class="lead">The software and tests are part of the DFG Project SoPhoAppeal (DFG-437543412), further information can be found on the <a class="textlink" href="https://wwwalt.tu-ilmenau.de/en/audio-visual-technology/research/dfg-project-sophoappeal/" target="_blank">project webpage</a>.
</p>



<p class="lead">During the test there are only anonymous data collected.</p>

<p class="lead">
The final collected data will be published and open accessible to enable reproducibility and further analysis.
</p>

<%- include('footer'); -%>

